<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel='stylesheet' href='{% static "css/style.css" %}'>
    <link rel='stylesheet' href='{% static "css/backTop.css" %}'>
    
    
</head>
<body>
    <div id='container_4'>
        <div id='top'>
            <h1 id='ys'>Yummy Simple</h1>
            <h4 id='home'><a class='p1' href='/home'>Home</a></h4>
            <h4 id='Profile'><a class='p1' href='/users/{{request.session.user_id}}'>Profile</a></h4>
            <p id='signed'>Signed in as: <a class='p1' href='/users/{{request.session.user_id}}'>{{request.session.username}}</a></p>
            <p id='logout'><a  class ='p1' href='/logout'>Log out</a></p> 
        </div>
        <hr>
        
        <div id='bottom'>
            <h1 class='header_p'>{{user.username}}'s Profile</h1>
            <p id='member'>(Member since {{user.created_at | date:'M j, Y'}})</p><br><br>

            <div id='left_pro'>
                <h1 class='header_r'>Recipes uploaded</h1>
                {% for recipe in user.recipes.all %}
                    <div class='inner_r'>
                        <p><a class='inner_p' href='/recipes/{{recipe.id}}'>{{recipe.title}}</a></p>
                        <p>Uploaded by: {{recipe.uploader.username}}</p>
                        <p>{{recipe.user_likes.all.count}} <img id='thumb_2' src="{% static 'img/like.png' %}" alt="like thumbs up"></p>
                    </div>
                {% endfor %}
            </div>

            <div id='right_pro'>
                <h1 class='header_r'>Recipes liked</h1>
                {% for recipe in user.liked_recipes.all %}
                    <div class='inner_r'>
                        <p><a class='inner_p' href='/recipes/{{recipe.id}}'>{{recipe.title}}</a></p>
                        <p>Uploaded by: {{recipe.uploader.username}}</p>
                        <p> {{recipe.user_likes.all.count}} <img id='thumb_2' src="{% static 'img/like.png' %}" alt="like thumbs up"></p>
                    </div>
                {% endfor %}
            </div>

            <div id='edit_b'>
                {% if request.session.user_id == user.id %}
                <button class="ls_e" id='edit'><a id='edit_a' href='/users/{{request.session.user_id}}/edit'>Edit your profile</a></button>
                {% endif %}
            </div>
        </div>

    </div>

    <script
    src="https://code.jquery.com/jquery-3.5.1.slim.js"
    integrity="sha256-DrT5NfxfbHvMHux31Lkhxg42LY6of8TaYyK50jnxRnM="
    crossorigin="anonymous"></script>
    <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
    <script src='{% static "js/jquery.backTop.min.js" %}'></script>
    <script src='{% static "js/script.js" %}'></script>
</body>
</html>