<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel='stylesheet' href='{% static "css/style.css" %}'>
    
    
</head>
<body>
    <div id='container_2'>
        <div id='top'>
            <h1 id='ys'>Yummy Simple</h1>
            <h4 id='home'><a class='p1' href='/home'>Home</a></h4>
            <h4 id='Profile'><a class='p1' href='/users/{{request.session.user_id}}'>Profile</a></h4>
            <p id='signed'>Signed in as: <a class='p1' href='/users/{{request.session.user_id}}'>{{request.session.username}}</a></p>
            <p id='logout'><a  class ='p1' href='/logout'>Log out</a></p> 
        </div>
        <hr>
        
        <div id='bottom'>
            <h1 id='header_u'>Upload and share your recipe to Yummy Simple community!</h1>

            {% if messages %}
            <ul id='messages' class="messages">
                {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul><br>
            {% endif %}
            <form action="/users/{{request.session.user_id}}/upload" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.media }}
                <p class='form'>Recipe Title:
                    {{form.title}}
                </p>
                <p>
                    {{form.content}}
                </p>
                <p class='form1'>Recipe images:
                    <input type="file" name="images" multiple>
                </p>
                <input class='submit' type="submit" value="Upload Recipe">
            </form>
        </div>

    </div>


    <script
    src="https://code.jquery.com/jquery-3.5.1.slim.js"
    integrity="sha256-DrT5NfxfbHvMHux31Lkhxg42LY6of8TaYyK50jnxRnM="
    crossorigin="anonymous"></script>
    <script src='{% static "js/script.js" %}'></script>
</body>
</html>